{% extends 'generic/_base.html' %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-10">
    <div class="card">
      <h5 class="card-header">Zabbix Status</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">URL</th>
            <td>{{ zabbix_url }}</td>
          </tr>
          <tr>
            <th scope="row">SSL Verification Mode</th>
            <td>{{ verify_ssl }}</td>
          </tr>
          <tr>
            <th scope="row">Authentication Method</th>
            <td>{{ auth_mode }}</td>
          </tr>
          <tr>
            <th scope="row">API Version</th>
            <td>{{ api_version }}</td>
          </tr>
          <tr>
            <th scope="row">Status</th>
            <td>{{ connection_status }}</td>
          </tr>
          {%- if error_message != None -%}
          <tr>
            <th scope="row">Error Message</th>
            <td>{{ error_message }}</td>
          </tr>
          {%- endif -%}
        </table>
      </div>
    </div>
  </div>
  <div class="col col-md-2">
    <div class="card">
      <div class="card-body">
        <a href="{{ zabbix_url }}"><img class="img-thumbnail rounded mx-auto" style="max-width: 200px; max-height: 200px;" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/zabbix_logo_icon_167937.png"></a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}